.todoitems {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 10px;
}

.todoitems-container {
    display: flex;
    align-items: center;
    gap: 12px;
    flex: 1;              /* ⭐ important */
    cursor: pointer;
}

.todoitems-text {
    color: #404040;
    font-size: 22px;
}

/* ✅ sirf text pe line-through */
.line-through .todoitems-text {
    text-decoration: line-through solid #ADADAD 3px;
    opacity: 0.6;
}

.todoitems-cross-icon {
    cursor: pointer;
    margin-left: 12px;
}
